.box1{
  background-color: #F5C6D6;
  height:100px;
  flex-direction:column;
  margin: 20px;
}

.container{
flex-direction:row;
flex-wrap: nowrap;
}
.second-row{
  background-color:#EE2E84;
  height:20%;
  max-width: 20%;
  margin: 10px;
  justify-content: center;
  display: flex;
  flex-grow:1;
}
.box2, .box3, .box4, .box5{

}

.box6, .box7{
  background-color:#85CFD8;
  height:20%;
  max-width:50%;
  margin:20px;
}

.box8{
  background-color:#8DC63F;
  height:20%
}

.box9{
  background-color:#E79E34;
  height:20%
  max-width: 20%;
  margin:20px;
}
